{
    "openapi": "3.0.0",
    "info": {
        "title": "APP CUMBRE PETRÓLEO, GAS Y ENERGÍA",
        "description": "<img src='https://cumbrepetroleoygas.net/images/logo.svg' alt='Logo' width='30'>API oficial de la aplicación 'CUMBRE'<br><br><img src='https://codant.one/img/logos/codant.svg' alt='Logo' width='50'>Hecho por <a href='https://codant.one' target='_blank'>CODANT</a>",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://backend.app-admin-cumbre/api",
            "description": "API"
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "tags": [
                    "AUTH"
                ],
                "summary": "User login",
                "description": "Give a user access to the page",
                "operationId": "900a0725c9a3c04b803f7a16d0ccaa03",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "fcm_token",
                                    "device_type",
                                    "lang"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "The user's E-mail",
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "description": "User alphanumeric password",
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "fcm_token": {
                                        "description": "Firebase Token",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "device_type": {
                                        "description": "Device type (ios/android)",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "AUTH"
                ],
                "summary": "Logout",
                "description": "Logout User",
                "operationId": "68aeabf52061079f82be02e10cbf9d30",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/forgot-password": {
            "post": {
                "tags": [
                    "AUTH"
                ],
                "summary": "Forgot password",
                "description": "Request password change",
                "operationId": "a4036329d9b9c3d9565dd9062cdcc573",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "lang"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "The user's E-mail",
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Email Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/auth/password/find": {
            "get": {
                "tags": [
                    "AUTH"
                ],
                "summary": "Find token",
                "description": "Verify user token",
                "operationId": "827ddf87acb6f2e3cbacc91da54d828d",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token sent via email",
                        "required": true,
                        "schema": {
                            "description": "Token",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Token Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "410": {
                        "description": "Token expired",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/auth/change": {
            "post": {
                "tags": [
                    "AUTH"
                ],
                "summary": "Change password",
                "description": "Change password",
                "operationId": "765ee1f55324a4907211fdfc7d87fda7",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "email",
                                    "password",
                                    "lang"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "Token sent via email",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "email": {
                                        "description": "The user's E-mail",
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "description": "The new password",
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Email Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/home": {
            "get": {
                "tags": [
                    "Home"
                ],
                "summary": "Get all the details for the app home page",
                "description": "Show all the details for the app home page",
                "operationId": "3585f422e75eb4ff8cd26bf4de20c4a7",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all sponsors",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/sponsors": {
            "get": {
                "tags": [
                    "Sponsors"
                ],
                "summary": "Get all sponsors",
                "description": "Show list of sponsors",
                "operationId": "989f3cdb84bb96fb446277fad0e1460d",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all sponsors",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/places": {
            "get": {
                "tags": [
                    "Places"
                ],
                "summary": "Get all places",
                "description": "Show list of places",
                "operationId": "cc820820810956b5300eb93e687d3a80",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all places",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/places/{id}": {
            "get": {
                "tags": [
                    "Places"
                ],
                "summary": "Get a place",
                "description": "Show place details",
                "operationId": "de254e3ee4f4d07eab318d4092e0abb0",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Place ID",
                        "required": true,
                        "schema": {
                            "description": "Unique Place Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all places",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Place Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/news": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Get all news",
                "description": "Show list of news",
                "operationId": "69808881bdf8b5b95c59d671901f910f",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all news",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/news/{id}": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Get a new",
                "description": "Show new details",
                "operationId": "1b676cd9133ff9a19746069df9be9a2e",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "New ID",
                        "required": true,
                        "schema": {
                            "description": "Unique New Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all news",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "New Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/schedules": {
            "get": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Get all schedules",
                "description": "Show all schedules",
                "operationId": "19bd3ca8f802a829e2aa1ba7388d3906",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all sponsors",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/schedules/{id}": {
            "get": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Get all talks by schedule Id",
                "description": "Show all talks by schedule Id (Optional `token` to bring favorites and notifications information)",
                "operationId": "b8c966a2ff716d976bc6458b351d38ff",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Schedule ID",
                        "required": true,
                        "schema": {
                            "description": "Unique New Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all sponsors",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Schedule Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": []
            }
        },
        "/talk/{id}": {
            "get": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Get a talk",
                "description": "Show talk details (Optional `token` to bring favorites and notifications information)",
                "operationId": "72ab06bea3f63139b11c5a23f48f757a",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Talk ID",
                        "required": true,
                        "schema": {
                            "description": "Unique New Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all news",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Talk Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": []
            }
        },
        "/speakers": {
            "get": {
                "tags": [
                    "Speakers"
                ],
                "summary": "Get all speakers",
                "description": "Show list of speakers (Optional `token` to bring favorites and notifications information)",
                "operationId": "bfd173ecaae892f5f2fcc8279eb5060e",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all news",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": []
            }
        },
        "/speakers/{id}": {
            "get": {
                "tags": [
                    "Speakers"
                ],
                "summary": "Get a speaker",
                "description": "Show speaker details (Optional `token` to bring favorites and notifications information)",
                "operationId": "91ecea17dbbaf972f4b978ca9e8d5555",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Speaker ID",
                        "required": true,
                        "schema": {
                            "description": "Unique New Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all news",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Speaker Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": []
            }
        },
        "/questions/talk/{id}": {
            "get": {
                "tags": [
                    "Questions"
                ],
                "summary": "Get all questions by talkId",
                "description": "Show all questions by talkId (Only the `panelist` role can see it)",
                "operationId": "8c91d082c550ddc9d66a70cfb3e8b27d",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Talk ID",
                        "required": true,
                        "schema": {
                            "description": "Unique Talk Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all questions",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Talk Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/questions": {
            "post": {
                "tags": [
                    "Questions"
                ],
                "summary": "Create a question",
                "description": "Create a question by user to the talk",
                "operationId": "a6bd5391497f95821d55a97a3d9b3ce3",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "talk_id",
                                    "question",
                                    "lang"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "The user id",
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "talk_id": {
                                        "description": "The talk id",
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "question": {
                                        "description": "The question",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/questions/{id}": {
            "get": {
                "tags": [
                    "Questions"
                ],
                "summary": "Get a question",
                "description": "Show question details by user and talk",
                "operationId": "02aff3c8a81ac0d7fda1544f98b79fba",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Talk ID",
                        "required": true,
                        "schema": {
                            "description": "Unique New Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show question details",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/reviews/talk/{id}": {
            "get": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Get all reviews by talkId",
                "description": "Show all reviews by talkId (Only the `panelist` role can see it)",
                "operationId": "9a75cfd34c0e99f9d86976f258c2bde8",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Talk ID",
                        "required": true,
                        "schema": {
                            "description": "Unique Talk Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all reviews",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Talk Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/reviews": {
            "post": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Create a review",
                "description": "Create a review by user to the talk",
                "operationId": "fd53e78369b9814019d69dd8205ab3b9",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "talk_id",
                                    "comment",
                                    "rating",
                                    "lang"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "The user id",
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "talk_id": {
                                        "description": "The talk id",
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "comment": {
                                        "description": "The comment",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "rating": {
                                        "description": "The rating",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/reviews/{id}": {
            "get": {
                "tags": [
                    "Reviews"
                ],
                "summary": "Get a review",
                "description": "Show review details by user and talk",
                "operationId": "a5f2d47334bbd1db690b67d08138d238",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Talk ID",
                        "required": true,
                        "schema": {
                            "description": "Unique New Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show reviews details",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/favorites": {
            "get": {
                "tags": [
                    "Favorites"
                ],
                "summary": "Get all favorites by userId",
                "description": "Show all favorites by userId",
                "operationId": "5a1502b4a2ea2837fc7f124cee8c9405",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all favprites",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Favorites"
                ],
                "summary": "Create a favorite",
                "description": "Add a favorite by user to the talk",
                "operationId": "98b4963d61f2dd0527368b3921c95836",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "talk_id",
                                    "lang"
                                ],
                                "properties": {
                                    "talk_id": {
                                        "description": "The talk id",
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/translations": {
            "get": {
                "tags": [
                    "Translations"
                ],
                "summary": "Get translations links",
                "description": "Show translations links",
                "operationId": "fabae20f0fec75f07c957f852c717ef5",
                "responses": {
                    "200": {
                        "description": "Show translations links",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/maps": {
            "get": {
                "tags": [
                    "Maps"
                ],
                "summary": "Get sitemap",
                "description": "Show sitemap",
                "operationId": "80eb5525a716cf60a72b1b210eb2b738",
                "responses": {
                    "200": {
                        "description": "Show sitemap",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get all notifications by user",
                "description": "Show notifications",
                "operationId": "6a2547c0b75f597c0123d00f56759c8f",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show sitemap",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Create a notification",
                "description": "Guardar talk para enviar notificación",
                "operationId": "98f0995c7f4ccfc620a0dc7cd0c7a840",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "talk_id",
                                    "lang"
                                ],
                                "properties": {
                                    "talk_id": {
                                        "description": "The talk id",
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/lang": {
            "get": {
                "tags": [
                    "Lang"
                ],
                "summary": "Change lang",
                "description": "Change the language of the logged in user",
                "operationId": "d56b050cbebe33a6f12e7a41e6454013",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show sitemap",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/tokens": {
            "post": {
                "tags": [
                    "Tokens"
                ],
                "summary": "Add token",
                "description": "Create or update token apps",
                "operationId": "2859cb10cd5bee9b143c8acd51eb030a",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "fcm_token"
                                ],
                                "properties": {
                                    "fcm_token": {
                                        "description": "Token ExpoHost",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Show sitemap",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/auth/profile/user": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Save profile",
                "description": "Save info user",
                "operationId": "1d767cdf60367b0540fd0de2a67242fe",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "last_name",
                                    "lang"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "The user name",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "last_name": {
                                        "description": "The user last name",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "avatar": {
                                        "description": "The user avatar",
                                        "type": "file"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/profile/user/updatePassword": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Update password",
                "description": "Update user password",
                "operationId": "385c918c3f776a6621bfe0d8ad3030f1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password",
                                    "lang"
                                ],
                                "properties": {
                                    "password": {
                                        "description": "The password",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "name": "bearerAuth",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "AUTH",
            "description": "AUTH"
        },
        {
            "name": "Home",
            "description": "Home"
        },
        {
            "name": "Sponsors",
            "description": "Sponsors"
        },
        {
            "name": "Places",
            "description": "Places"
        },
        {
            "name": "News",
            "description": "News"
        },
        {
            "name": "Schedules",
            "description": "Schedules"
        },
        {
            "name": "Speakers",
            "description": "Speakers"
        },
        {
            "name": "Questions",
            "description": "Questions"
        },
        {
            "name": "Reviews",
            "description": "Reviews"
        },
        {
            "name": "Favorites",
            "description": "Favorites"
        },
        {
            "name": "Translations",
            "description": "Translations"
        },
        {
            "name": "Maps",
            "description": "Maps"
        },
        {
            "name": "Notifications",
            "description": "Notifications"
        },
        {
            "name": "Lang",
            "description": "Lang"
        },
        {
            "name": "Tokens",
            "description": "Tokens"
        },
        {
            "name": "Users",
            "description": "Users"
        }
    ]
}