{
    "openapi": "3.0.0",
    "info": {
        "title": "APP CUMBRE PETRÓLEO, GAS Y ENERGÍA",
        "description": "<img src='https://cumbrepetroleoygas.net/images/logo.svg' alt='Logo' width='30'>API oficial de la aplicación 'CUMBRE'<br><br><img src='https://codant.one/img/logos/codant.svg' alt='Logo' width='50'>Hecho por <a href='https://codant.one' target='_blank'>CODANT</a>",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://backend.app-admin-cumbre/api",
            "description": "API"
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "tags": [
                    "AUTH"
                ],
                "summary": "User login",
                "description": "Give a user access to the page",
                "operationId": "a5385ffca73f113abef00ea604d1ca58",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "fcm_token",
                                    "device_type",
                                    "lang"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "The user's E-mail",
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "description": "User alphanumeric password",
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "fcm_token": {
                                        "description": "Firebase Token",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "device_type": {
                                        "description": "Device type (ios/android)",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "AUTH"
                ],
                "summary": "Logout",
                "description": "Logout User",
                "operationId": "0f6715df0d22b69c7e35bd32b4c1fc92",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/forgot-password": {
            "post": {
                "tags": [
                    "AUTH"
                ],
                "summary": "Forgot password",
                "description": "Request password change",
                "operationId": "a10b145e425eeb3cd1dcb4a89f792bd6",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "lang"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "The user's E-mail",
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Email Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/auth/password/find": {
            "get": {
                "tags": [
                    "AUTH"
                ],
                "summary": "Find token",
                "description": "Verify user token",
                "operationId": "adf138ab0dfa44428e61b794b9c155d5",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token sent via email",
                        "required": true,
                        "schema": {
                            "description": "Token",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Token Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "410": {
                        "description": "Token expired",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/auth/change": {
            "post": {
                "tags": [
                    "AUTH"
                ],
                "summary": "Change password",
                "description": "Change password",
                "operationId": "cf3f6d0d2ab4189126331ab5de5098be",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "email",
                                    "password",
                                    "lang"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "Token sent via email",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "email": {
                                        "description": "The user's E-mail",
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "description": "The new password",
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Email Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/home": {
            "get": {
                "tags": [
                    "Home"
                ],
                "summary": "Get all the details for the app home page",
                "description": "Show all the details for the app home page",
                "operationId": "3585f422e75eb4ff8cd26bf4de20c4a7",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all sponsors",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/sponsors": {
            "get": {
                "tags": [
                    "Sponsors"
                ],
                "summary": "Get all sponsors",
                "description": "Show list of sponsors",
                "operationId": "989f3cdb84bb96fb446277fad0e1460d",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all sponsors",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/places": {
            "get": {
                "tags": [
                    "Places"
                ],
                "summary": "Get all places",
                "description": "Show list of places",
                "operationId": "cc820820810956b5300eb93e687d3a80",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all places",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/places/{id}": {
            "get": {
                "tags": [
                    "Places"
                ],
                "summary": "Get a place",
                "description": "Show place details",
                "operationId": "de254e3ee4f4d07eab318d4092e0abb0",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Place ID",
                        "required": true,
                        "schema": {
                            "description": "Unique Place Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all places",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Place Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/news": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Get all news",
                "description": "Show list of news",
                "operationId": "69808881bdf8b5b95c59d671901f910f",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all news",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/news/{id}": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Get a new",
                "description": "Show new details",
                "operationId": "1b676cd9133ff9a19746069df9be9a2e",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "New ID",
                        "required": true,
                        "schema": {
                            "description": "Unique New Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all news",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "New Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/schedules": {
            "get": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Get all schedules",
                "description": "Show all schedules",
                "operationId": "19bd3ca8f802a829e2aa1ba7388d3906",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all sponsors",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/schedules/{id}": {
            "get": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Get all talks by schedule Id",
                "description": "Show all talks by schedule Id",
                "operationId": "b8c966a2ff716d976bc6458b351d38ff",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Schedule ID",
                        "required": true,
                        "schema": {
                            "description": "Unique New Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all sponsors",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Schedule Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/talk/{id}": {
            "get": {
                "tags": [
                    "Schedules"
                ],
                "summary": "Get a talk",
                "description": "Show talk details",
                "operationId": "72ab06bea3f63139b11c5a23f48f757a",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Talk ID",
                        "required": true,
                        "schema": {
                            "description": "Unique New Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all news",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Talk Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/speakers": {
            "get": {
                "tags": [
                    "Speakers"
                ],
                "summary": "Get all speakers",
                "description": "Show list of speakers",
                "operationId": "bfd173ecaae892f5f2fcc8279eb5060e",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all news",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/speakers/{id}": {
            "get": {
                "tags": [
                    "Speakers"
                ],
                "summary": "Get a speaker",
                "description": "Show speaker details",
                "operationId": "91ecea17dbbaf972f4b978ca9e8d5555",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Speaker ID",
                        "required": true,
                        "schema": {
                            "description": "Unique New Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all news",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Speaker Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/questions/talk/{id}": {
            "get": {
                "tags": [
                    "Questions"
                ],
                "summary": "Get all questions by talkId",
                "description": "Show all questions by talkId",
                "operationId": "8c91d082c550ddc9d66a70cfb3e8b27d",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show list of all questions",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Talk Not Found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/questions": {
            "post": {
                "tags": [
                    "Questions"
                ],
                "summary": "Create a question",
                "description": "Create a question by user to the talk",
                "operationId": "a6bd5391497f95821d55a97a3d9b3ce3",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "talk_id",
                                    "question",
                                    "lang"
                                ],
                                "properties": {
                                    "user_id": {
                                        "description": "The user id",
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "talk_id": {
                                        "description": "The talk id",
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "question": {
                                        "description": "The question",
                                        "type": "string",
                                        "format": "text"
                                    },
                                    "lang": {
                                        "description": "App language (es/en)",
                                        "type": "string",
                                        "format": "text"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/questions/{id}": {
            "get": {
                "tags": [
                    "Questions"
                ],
                "summary": "Get a question",
                "description": "Show question details by user and talk",
                "operationId": "02aff3c8a81ac0d7fda1544f98b79fba",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "App language (es/en)",
                        "required": true,
                        "schema": {
                            "description": "Lang",
                            "type": "string",
                            "format": "text"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Talk ID",
                        "required": true,
                        "schema": {
                            "description": "Unique New Identifier",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show question details",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Some was wrong",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "an \"unexpected\" error",
                        "content": {
                            "application/json": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "name": "bearerAuth",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "AUTH",
            "description": "AUTH"
        },
        {
            "name": "Home",
            "description": "Home"
        },
        {
            "name": "Sponsors",
            "description": "Sponsors"
        },
        {
            "name": "Places",
            "description": "Places"
        },
        {
            "name": "News",
            "description": "News"
        },
        {
            "name": "Schedules",
            "description": "Schedules"
        },
        {
            "name": "Speakers",
            "description": "Speakers"
        },
        {
            "name": "Questions",
            "description": "Questions"
        }
    ]
}